# Node modules
node_modules/
backend/node_modules/
sweet-shop-ui/node_modules/

# Build / dist folders
dist/
build/
backend/dist/
sweet-shop-ui/dist/

# Logs
*.log

# Environment files
.env
*.env

# Editor / OS files
.vscode/
.DS_Store
.idea/
